*{
    size: 10px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#heading{
    font-size: 1.6rem;
    text-shadow: 2px 2px 5px black;
    color: aliceblue;
    text-align: center;
    margin-top: 1rem;
}

#bg{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;

}

#keys{
    width: 70%;
    height: 5rem;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
span{
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(12, 12, 12);
    font-weight: 700;
    text-align: center;
    -webkit-text-stroke: 1px rgb(230, 206, 72);
}
.key{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    border-radius: 0.5rem;
    width: 6rem;
    transition: all 70ms ease-in-out;
    height: 5rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.8rem;
    text-shadow: -1px -1px 3px rgb(182, 172, 172);
    border: 0.2rem rgb(31, 29, 29) solid;
    background-color: rgba(255, 255, 255,0.6)
}
.playing{
    box-shadow: 0 0 10px rgb(197, 193, 181);
    transform: scale(1.1);
    border-color:rgb(243, 187, 5);
}